body{
    font-family: Helvetica;
    margin: 0;
    background: radial-gradient(circle, #ffffff 50%, #e4e4e4 100%);
}

.txtPesquisa, .txtFormNome, .txtFormNomeResp{
    width: 90%;
    padding: 10px 5%;
    border-radius: 10px;
    border: 2px solid #ddd;
    margin: 10px 0;
    -webkit-box-shadow: 2px 0.5px 14px #999; 
    -moz-box-shadow: 2px 0.5px 14px #999;
        box-shadow: 2px 0.5px 14px #999;	
}

#menu-bar{
    background: #6D41A1;
    color: #fff;
    padding: 10px;
    -webkit-box-shadow: 2px 2px 8px #999; 
    -moz-box-shadow: 2px 2px 8px #999;
        box-shadow: 2px 2px 8px #999;	
}

#menu-bar h1{
    font-size: 24px;
    font-weight: normal;
    display: inline-block;
}

#menu-bar ul{
    float: right;
    list-style-type: none;
    padding: 0px;
    margin: 6px 0;
}
  
#menu-bar li{
    float: right;
    margin-left: 20px;
}

#menu-bar a{
    color: #fff;
}

.list{
    border-top: 1px solid #e2e2e2;
}

.remove{
    float: right;
    padding: 5px;
    background: #fff;
    width: 18px;
    text-align: center;
    border-radius: 20px;
    color: crimson;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -40px;
}

h1,h2,h3{
    margin: 0;
}

.content{
    padding: 20px;
  }

ul{
    padding: 0;
    list-style-type: none;
    margin: 30px 0;
}

.content li{
    padding: 15px 0;
    border-top: 1px solid #e2e2e2;
    color: #444;
}

.txtPesquisa{
    margin-left: 5%;
}

.txtFormNome, .txtFormNomeResp, .txtFormTel{
    margin-left: 5%;
    margin-top: 20px;
}

.container{
    -webkit-box-shadow: 2px 2px 8px #999; 
    -moz-box-shadow: 2px 2px 8px #999;
        box-shadow: 2px 2px 8px #999;	
}

.containerList h2{
    text-align: center;
}

.txtFormTel{
    margin-left: 25%;
    padding: 10px 5%;
    border-radius: 10px;
    border: 2px solid #ddd;
    margin: 10px 0;
    -webkit-box-shadow: 2px 0.5px 14px #999; 
    -moz-box-shadow: 2px 0.5px 14px #999;
        box-shadow: 2px 0.5px 14px #999;	

    width: 60%;
    margin-top: 20px;
}

.txtFormTurma{
    margin-left: 9%;
    padding: 10px 5%;
    border-radius: 10px;
    border: 2px solid #ddd;
    -webkit-box-shadow: 2px 0.5px 14px #999; 
    -moz-box-shadow: 2px 0.5px 14px #999;
        box-shadow: 2px 0.5px 14px #999;	
    margin-top: 20px;
    width: 20%;
}

.txtFormTel{
    margin-left: 5%;
}

.submitAluno{
    width: 10%;
    margin-left: 45%;
}

#banner, #fotoB2{
    width: 100%;
    height: 50%;
    -webkit-box-shadow: 2px 2px 8px #999; 
    -moz-box-shadow: 2px 2px 8px #999;
        box-shadow: 2px 2px 8px #999;	
}

.footer-menu{
    background-color: #6D41A1;
    -webkit-box-shadow: 2px 2px 8px #999; 
    -moz-box-shadow: 2px 2px 8px #999;
        box-shadow: 2px 2px 8px #999;	
}

.footerText{
    color: #fff;
    text-align: center;
    padding-bottom: 5px;
    padding: 5px;
    font-size: 10px;   
}

.welcome{
    text-align: center;
}

/* Caixa */

.caixaTotal{
    /* margin-left: 45%; */
    transition: all 0.5s;
    opacity: 0.8;
    width: 1%;
    height: 1%;
}

.caixaTotal:hover{
    -webkit-transform: scale(1.10);
    opacity: 1;
}

.imgCaixa{
    margin-left: 20%;
    padding-top: 10px;
    width: 60%;
}

.labelCaixa{
    color: black;
    padding-top: 2px;
    margin-left: 40%;
}

.hrWelcome{
    width: 30%;
}

/* - */

.tabelaAluno{
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.botaoTabela{
    width: 30%;
    margin-right: 35%;
    margin-top: 4%;
}

.td{
    height: 45px;
}

.th{
    font-size: 25px;
}