<div class="container containerList" ng-controller="alunosController" ng-init="toInit()">
    <div class="content">
        <div class="row">
            <div class="col-12">
                <br>
                <h2>Lista de Aluno</h2>
                <br>
                <input type="text" class="txtPesquisa" placeholder="Pesquise por um aluno" ng-model="search" />

                <table class="table-striped tabelaAluno">
                    <tr>
                        <th>Id</th>
                        <th>Aluno</th>
                        <th>Responsavel</th>
                        <th>Telefone</th>
                        <th>Turma</th>
                        <th>Excluir</th>
                    </tr>
                <tbody ng-repeat="e in alunos | filter: search">
                    <td>{{ e.id }}</td>
                    <td>{{ e.nomeAluno }}</td>
                    <td>{{ e.responsavel }}</td>
                    <td>{{ e.telefone }}</td>
                    <td>{{ e.turma.numeroTurma }}</td>
                    <td><button ng-click="excluirAluno(e.id)" class="btn btn-danger remove"></button></td>
                </tbody>
            </table>
                                                                        
                <hr>
                <h2>Cadastro de Alunos</h2>
                <form>
                <input type="text" placeholder="Nome" class="txtFormNome" ng-model="alunosDTO.nomeAluno">
                <input type="text" placeholder="Nome do Responsável" class="txtFormNomeResp" ng-model="alunosDTO.responsavel">
                <input type="text" placeholder="Telefone" class="txtFormTel" ng-model="alunosDTO.telefone">
                <input type="text" placeholder="Turma" class="txtFormTurma" ng-model="alunosDTO.turma">
                <br>
                <br>
                <input type="submit" class="submitAluno btn btn-success" ng-click="salvarAluno()">
                </form>
            </div>
        </div>
    </div>
</div>