<div class="container container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <h1 style="text-align: center;">Escola</h1>
            <br>
            <section class="fotorama" data-width="100%" data-loop="true" data-autoplay="true" id="banner">
                <img src="content\img\bannerPreto.png" id="fotoB2">
                <img src="content\img\bannerRoxo.png" id="fotoB2">
                </section>
                <hr>
                <h4 class="welcome">Bem vindo! Onde vamos hoje?</h4>
                <hr class="hrWelcome">
                <div class="row">
                    <div class="caixaTotal col">
                        <a href="#!/notas">
                            <div class="divImg"><img src="content/img/grades2.png" class="imgCaixa"></div>
                            <div class="caixaLabelDiv"><label class="labelCaixa">Notas</label></div>
                        </a>
                    </div>

                    <div class="caixaTotal col">
                        <a href="#!/report">
                            <div class="divImg"><img src="content/img/docs.png" class="imgCaixa"></div>
                            <div class="caixaLabelDiv"><label class="labelCaixa">Boletim</label></div>
                        </a>
                    </div>

                    <div class="caixaTotal col">
                        <a href="#!/turma">
                            <div class="divImg"><img src="content/img/group.png" class="imgCaixa"></div>
                            <div class="caixaLabelDiv"><label class="labelCaixa">Turma</label></div>
                        </a>
                    </div>

                    <div class="caixaTotal col">
                        <a href="#">
                            <div class="divImg"><img src="content/img/book.png" class="imgCaixa"></div>
                            <div class="caixaLabelDiv"><label class="labelCaixa">Disciplina</label></div>
                        </a>
                    </div>

                    <div class="caixaTotal col">
                        <a href="#!/list">
                            <div class="divImg"><img src="content/img/student.png" class="imgCaixa"></div>
                            <div class="caixaLabelDiv"><label class="labelCaixa">Aluno</label></div>
                        </a>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>