<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <br>
                <input type="text" ng-model="search"/>

                <ul>
                    <li ng-repeat=" | filter: search"">
                            <h3>{{  }} - {{  }}</h3>
                            <div class="remove" ng-click="removeNinja(ninja)">x</div>
                    </li>
                </ul>

                <form ng-submit="">
                <input type="text">
                </form>

            </div>
        </div>
    </div>
</div>