<div class="container" ng-controller="reportController">
    <div class="row">
        <div class="col-12">

            <h1 style="text-align: center; padding-top: 20px;">Boletim</h1>
            <form>
            <input type="text" class="textIdAlunoReport" placeholder="Id Aluno" ng-model="boletim.aluno">
            <Br>
            <select ng-model="boletim.format" class="selectFormat">
                <option>html</option>
                <option>pdf</option>
            </select>
            <br>
            <button type="submit" class="btn btn-success enviarReport" ng-click="imprimir()">Gerar</button>
            </form>

        </div>
    </div>
</div>